html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa500;
    padding: 10px 20px;
}

.logo {
    height: 40px;
}

.login-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    flex: 1;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.place-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.place-card, .review-card, .place-details {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
}

.place-card {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 300px;
}

.details-button, .add-review-button, .submit-button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #ffa500;
    color: white;
    padding: 10px;
    position: relative;
    width: 100%;
}
